.kanjis td
{
  padding: 5px;
  border: 1px solid;
}

div.kanji > span
{
  padding-left:1em
}
div.kanji
{
  margin-bottom:2em
}
div.kanji > div
{
  overflow-x:auto
}
div.kanji > div > img
{
  max-width:none
}

.kana td
{
  padding: 5px;
  border: 1px solid;
}

.tcb,.tcbc td
{
  padding: 5px;
  border: 1px solid;
}

rt{
  font-size:8px
}

.tcbc
{
  margin:auto
}

a.nice-button-a
{
  border-bottom: none;
}

.nice-button
{
border-radius: 0.5em;
background-color: transparent;
border: 1px solid;
font-weight: 200;
font-family: "Helvetica Neue",helvetica,"Open Sans",sans-serif;
color:#428BCA
}

.nice-button:hover
{
  color:#2A6496
}

#sidebar-wrapper hr
{
  margin-top:5px;
  margin-bottom:5px
}

blockquote.normal p {
  font-size:inherit
}
